#box1{
    width: 400px;
    height: 200px;
    border: 2px solid red;
    margin: 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#box2{
    width: 400px;
    height: 200px;
    border: 2px solid red;
    margin: 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}